  
                    <div class="pcoded-content">
                        <div class="pcoded-inner-content">
                            <!-- Main-body start -->
                            <div class="main-body">
                                <div class="page-wrapper">
                                    <!-- Page-header start -->
                                    <div class="page-header card">
                                        <div class="row align-items-end">
                                            <div class="col-lg-8">
                                                <div class="page-header-title">
                                                    <i class="icofont icofont-table bg-c-blue"></i>
                                                    <div class="d-inline">
                                                        <h4>Bootstrap Basic Tables</h4>
                                                        <span>lorem ipsum dolor sit amet, consectetur adipisicing elit</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-4">
                                                <div class="page-header-breadcrumb">
                                                   <ul class="breadcrumb-title">
                                                    <li class="breadcrumb-item">
                                                        <a href="index.html">
                                                            <i class="icofont icofont-home"></i>
                                                        </a>
                                                    </li>
                                                    <li class="breadcrumb-item"><a href="#!">Bootstrap Table</a>
                                                    </li>
                                                    <li class="breadcrumb-item"><a href="#!">Basic Table</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Page-header end -->
                                
                                <!-- Page-body start -->
                                <div class="page-body">
                                   
                                    
                                    <!-- Hover table card start -->
                                    <div class="card">
                                        <div class="card-header">
                                            <h5>Hover table</h5>
                                            <span>use class <code>table-hover</code> inside table element</span>
                                            <div class="card-header-right">    <ul class="list-unstyled card-option">        <li><i class="icofont icofont-simple-left "></i></li>        <li><i class="icofont icofont-maximize full-card"></i></li>        <li><i class="icofont icofont-minus minimize-card"></i></li>        <li><i class="icofont icofont-refresh reload-card"></i></li>        <li><i class="icofont icofont-error close-card"></i></li>    </ul></div>
                                        </div>
                                        <div class="card-block table-border-style">
                                            <div class="table-responsive">
                                                <table class="table table-hover">
                                                    <thead>
                                                        <tr>
                                                            <th style="text-align: center;">Name</th>
                                                            <th style="text-align: center;">Category</th>
                                                            <th style="text-align: center;">Quantity</th>
                                                            <th style="text-align: center;">Price</th>
                                                            <th style="text-align: center;">Description</th>
                                                            <th style="text-align: center;">Image</th>
                                                            <th style="text-align: center;">Action</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        {{#each products}}
                                                        <tr>
                                                            <td style="text-align: center;" >{{name}}</td>
                                                            <td style="text-align: center;">{{category}}</td>
                                                            <td style="text-align: center;">{{quantity}}</td>
                                                            <td style="text-align: center;">{{currency}} {{price}}</td>
                                                            <td style="text-align: center;">{{description}}</td>
                                                            <td style="text-align: center;"><img src="{{image}}" height="60px"></td>
                                                            <td style="text-align: center;"><a href="" class="btn btn-danger" style="border-radius: 5px;"><span  style="color: white;"> delete</span>  </a> <a href="/Updateproduct?id={{id}}" class="btn  btn-primary" style="border-radius: 5px;" ><span  style="color: white;">Edit</span> </a>  </td>
                                                            
                                                        </tr>
                                                        {{/each}}
                                                      
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Hover table card end -->
                                    
                                
                                </div>
                                <!-- Page-body end -->
                            </div>
                        </div>
                        <!-- Main-body end -->

                        <div id="styleSelector">

                        </div>
                    </div>
                </div>